/*  ==============
    General styles
    ============== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --accent: rgb(34, 185, 153);
    --darkGray: rgb(22, 22, 22);
    --lightGray: rgb(58, 58, 58);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to bottom right, rgb(49, 49, 49), rgb(20, 20, 20));
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    min-height: 100vh;
    /* scroll-snap-align: center; */
}

h1 {
    font-size: 52px;
    color: var(--accent);
}

/*  =================
    OnLoad animations
    ================= */

@keyframes logo-load {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes nav-load {
    0% {
        transform: translateX(-110%);
    }

    100% {
        transform: translateX(0%);
    }
}    
@keyframes nav-tablet-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes btn-load {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes icon-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes flash {
    50% {
        opacity: 0;
    }
}

@keyframes left{
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-35%);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
} 

@keyframes middle {
    0% {
        transform: rotate(0);
    }
    4% {
        transform: rotate(0);
    }
    20% {
        transform: rotate(360deg);
    }
    40% {
        transform: rotate(720deg);
    }
    60% {
        transform: rotate(1080deg);
    }
    78% {
        transform: rotate(0);
    }
}

@keyframes right{
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(35%);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

/*  =============
    Loader Styles
    ============= */

    .full-screen {
        position: fixed;
        left: 0; top: 0;
        width: 100vw;
        min-height: 100vh;
    }
    
    .loader {
        background-color: rgb(22, 22, 22);
        color: white;
        font-size: 20px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    
        transition: transform 1s ease-in-out;
    }
    
    .load-container {
        height: 16vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .gif {
        display: flex;
    }
    
    #one {
        position: relative;
        left: 100px;
        z-index: 3;
    
        animation: left 2s ease-in-out infinite;
    }
    #two {
        z-index: 2;
    
        animation: middle 2s linear infinite;
    }
    #three {
        position: relative;
        right: 106px;
        z-index: 1;
    
        animation: right 2s ease-in-out infinite;
    }    

/*  =================
    Navigation styles
    ================= */

.logo {
    padding: 0 20px;
    background: transparent;
    position: fixed;
    top: -25px;
    z-index: 30;
    transition: opacity .6s ease-in-out;
    /* opacity: 0; */

    /* animation: logo-load 1s ease-in-out 3800ms; */
    /* animation-fill-mode: forwards; */
}    
.logo-change {
    opacity: 0;
}
.logo-small {
    padding: 0 20px;
    background: transparent;
    position: fixed;
    top: 27px;
    left: 51.5px;
    z-index: 29;
    transition: all 1s ease-in-out;

    /* animation: logo-load 2s ease-in-out 3800ms;
    animation-fill-mode: forwards;
    opacity: 0; */
}
.logo-small-change {
    transform: translate(-30px) scale(2);
} 
.logo-small-change-back {
    transform: translate(0) scale(1);
} 

nav {
    position: fixed;
    left: 0px;
    top: 120px;
    padding: 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: all .5s;
    background-color: var(--darkGray);
    text-align: center;
    justify-content: space-between;

    animation: nav-load .6s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-100%)
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav li {
    margin: 10px 0;
    padding: 0 10px;
}

.media-container li {
    margin: 5px 0;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 13;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
}
  
.burger div{
width: 25px;
height: 3px;
background-color: rgb(247, 247, 247);
border: 2px, solid, rgb(247, 247, 247);
border-radius: 10px;
z-index: 4;
margin: 5px;
transition: all 0.5s ease;
}
  

/*  ===========
    Icon styles
    =========== */

.icon {
    margin-top: 20px;
    padding-top: 0px;
    transition: opacity 1s;
    transition: all .5s;
    animation: icon-load .5s ease-in-out;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.nav-button {
    position: relative;
}

.nav-button-text {
    position: absolute;
    top: 25px;
}

#home-icon {
    animation-delay: 4.2s;
}

#about-icon {
    animation-delay: 4.4s;
}

#projects-icon {
    animation-delay: 4.6s;
}

#contact-icon {
    animation-delay: 4.8s;
}

#github-icon {
    animation: icon-load .5s ease-in-out 5s;
    animation-fill-mode: forwards;
    transform: scale(0);
}
#linkedin-icon {
    animation: icon-load .5s ease-in-out 5.2s;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.resume-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: rgb(27, 27, 27);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px 1px black;
    z-index: 100;

    animation: btn-load .6s ease-in-out .3s;
    animation-fill-mode: forwards;
    transform: translateX(150%);
}
#resume-icon {
    transition: opacity .6s;
}
#resume-text {
    left: 6px;
}
.icon-text {
    position: absolute;
    left: 0; right: 0;
    margin: 0 auto;
    color: var(--accent);
    font-style: normal;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;

    transition: opacity .6s;
}

/*  ================
    Home page styles
    ================ */

section#home {
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 18%;
    top: 40%;
    line-height: 3.5rem;
    z-index: 0;
}

#home h1 {
    font-size: 60px;
    position: relative;
    top: 0;
    color: white;
}

#home h3 {
    font-size: 28px;
    font-weight: 400;
}

#jacob {
    color: var(--accent) !important;
    margin-left: 20px;
}

.name-container {
    display: flex;
    
}

.display {
    display: none;
}

/*  ============
    About styles
    ============ */

    section#about {
        margin-bottom: 4rem;
    }
    
    #about-section-container {
        display: flex;
    }
    
    .about-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        top: 10px;
    }
    
    .about-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about-subheading {
        font-size: 1.6rem;
        margin: 1rem 0 3rem 0;
        text-shadow: 1px 1px var(--darkGray);
        width: 80%
    }
    
    .about-info {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem
    }
    
    .bio {
        width: 46%;
        text-align: left;
    }
    
    .bio p,
    .sources p {
        font-weight: 300;
    }
    
    .sources {
        width: 46%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .button-container {
        position: relative;
        display: block;
        text-align: center;
        border: none;
        background: none;
        cursor: pointer;
    
        transition: color .5s ease-in-out;
    }
    .popup-button {
        margin-top: 2rem;
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4rem;
        letter-spacing: 1px;
        color: var(--accent);
    }
    .button-container:hover, 
    .button-container:focus {
        color: var(--darkGray);
        outline: none;
    }
    .button-container:hover .button-bg,
    .button-container:focus .button-bg {
        width: 120%;
    }
    
    .button-inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .button-bg {
        position: absolute;
        left: -10%;
        background-color: var(--accent);
        width: 0;
        height: 100%;
        z-index: 3;
    
        transform: skewX(-20deg);
        transition: all .5s ease-in-out;
    }
    
    .button-base {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        border: 1px solid var(--accent);
        border-radius: 10px;
    }
    
    .button-text {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 4;
    }
    
    .languages {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem
    }
    
    .language {
        display: flex;
        flex-direction: column;
    }
    
    .fa-html5 {
        color: rgb(253, 126, 20);
    }
    
    .fa-css3-alt {
        color: rgb(33, 150, 243);
    }
    
    .fa-js {
        color: rgb(239, 216, 29);
    }
    
    .fa-git-alt {
        color: rgb(232, 78, 49);
    }
    
    .fa-react {
        color: rgb(0, 209, 247);
    }
    
    .fa-bootstrap {
        color: rgb(100, 56, 177);
    }
            
    .overlay-active {
        position: fixed; 
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px; 
        opacity: 0.6;
        background-color: rgb(28, 28, 28);
        z-index: 10;
        transition: background-color .5s ease-in;
    }
    .content-inactive {
        pointer-events: none;
    }
    .no-scroll {
        overflow: hidden;
    }
    
    .pop-up {
        background-color: var(--darkGray);
        border: 2px solid var(--accent);
        border-radius: 4px;
        width: 50vw;
        height: 95vh;
        position: fixed;
        left: 0; right: 0; bottom: 0; top: 0;
        margin: auto;
        z-index: 11;
        box-shadow: 1px 1px 10px 3px black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        /* align-items: center; */
    
        visibility: hidden;
        opacity: 0;
        transform: translate(254px, 107px) scale(.1);
    
        transition: opacity .75s, transform .75s;
    }
    .pop-up-active {
        opacity: 1;
        transform: translate(0px, 0px) scale(1);
    }
    .pop-up-header {
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        justify-items: center;
        align-items: center;
        display: grid;
        justify-items: center;
        font-size: 2vw;
        padding: 30px;
        text-align: center;
    }
    .pop-up-body {
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45% 45% 10%;
        justify-items: center;
        text-align: center;
    }
    .pop-up-body p {
        padding: 0 30px;
        font-size: .9rem;
    }
    .pop-up-body .bottom {
        grid-column: 1 / span 2;
        display: flex;
        align-items: flex-end;
        font-size: 2vw;
    }
    .pop-up-links {
        grid-column: 1 / span 4;
        grid-row: 3 / span 1;
        display: flex;
        justify-content: space-evenly;
    }
    .pop-up-links button {
        height: 50px;
        width: 100px;
        padding: 5px;
        border-radius: 5px;
        color: var(--accent);
        border: 2px solid var(--accent);
        background: transparent;
        margin-top: 20px;
        z-index: 1;
        position: relative;
        overflow: hidden;
        outline: none;
    
        transition: color .5s;
    }
    .pop-up-links button:hover,
    .pop-up-links button:focus {
        cursor: pointer;
        outline: none;
        color: var(--darkGray);
    }
    .pop-up-links button:before {
        content: '';
        position: absolute;
        top: 0; 
        left: 0;
        width: 180%;
        height: 150%;
        background-color: var(--accent);
        z-index: -1;
    
        transition: transform .5s ease-in-out;
        transform: translate(-120%, 0) skew(-30deg);
    }
    .pop-up-links button:hover::before, 
    .pop-up-links button:focus::before {
        transform: translate(-5%, 0)
        skew(-15deg);
    }
    
    #cancel {
        position: absolute;
        right: 10px; top: 10px;
    }
    #cancel:hover {
        cursor: pointer;
    }
    
/*  ===============
    Projects styles
    =============== */

#project-section-container {
    height: auto;
    min-height: 110vh;
}

#projects {
    z-index: 30;
    display: flex;
    /* height: 110vh; */
}

.section-container {
    background-color: var(--lightGray);
    width: 80vw;
    height: 100vh;
    box-shadow: 1px 1px 10px 3px black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#projects h1 {
    z-index: 2;
    color: var(--accent);
    text-shadow: 1px 1px var(--darkGray);
    width: 100%;
    position: relative;
    top: 10px;
}

.project-container {
    width: 100%;
    height: 80%; 
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: .5rem
}
.project {
    border: 1px solid var(--accent);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-size .5s;
}
.project:hover {
    background-size: 110%;
}
.project:hover > div {
    opacity: 1;
}
.project-1 {
    background-image: url(../utilities/cba.png);
}
.project-2 {
    background-image: url(../utilities/checkers.png);
    background-size: 102%;
}
.project-2:hover {
    background-size: 112%;
}
.project-3 {
    background-image: url(../utilities/artsmith.png);
    background-size: 120%;
}
.project-3:hover {
    background-size: 130%;
}
.project-4 {
    background-image: url(../utilities/logo1000.png);
}

.project-overlay {
    width: 100%; 
    height: 100%;
    padding: 1rem;
    background-color: rgba(22, 22, 22, .9);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;

    transition: all .3s ease-in-out;
}

.project-title {
    font-size: 1.5rem;
    color: var(--accent);
}

.project-info {
    font-size: .85rem;
    width: 90%
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.project-links a {
    transition: all .2s ease-in-out;
}
.project-links a:hover {
    color: var(--accent);
}

.visible {
    opacity: 1;
    visibility: visible;
}


/*  ==============
    Contact styles
    ============== */

.contact-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
section#contact{
    height: 100vh;
    display: flex;
}

#contact h1 {
    display: flex;
    position: fixed;
    left: 18%;
    top: 40%;
    line-height: 3.5rem;
    z-index: 0;
    font-size: 52px;
    color: var(--accent);
}

.fixed-container p {
    position: fixed;
    left: 19%;
    top: 55%;
    width: 30%;
    font-weight: lighter;
    text-align: left;
}

.copy {
    color: #878787;
    position: fixed;
    bottom: 10px;
    font-size: 14px;
    left: 0; 
    right: 0;
    margin: auto;
}

#mobile-copy {
    display: none;
}

/* Form styles */

.contact-container form {
    position: fixed;
    right: 15%;
    top: 40%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 30%;
}
.form:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}

.form {
    height: 50px;
    background-color: var(--lightGray);
    box-shadow: none;
    border: none;
    margin: 5px 0;
    padding: 15px;
    color: #8d8d8d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 0;
    margin-top: 0;
}

form .small {
    width: 100%;
    display: block;
}

.small-box {
    margin: 2px 0;
    height: 53px;
    position: relative;
    top: -1px;
}

.box-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
}
#left {
    float: left;
    position: relative;
    width: 98%;
    top: 2px;
}
#underline-1 {
    display: block;
    border-bottom: 1px solid var(--accent);
    transition: width 300ms;
    position: relative;
    top: 51px;
    width: 0;
}
#left:focus + span {
    width: 98%;
}

.box-2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    position: relative;
}
#right {
    float: right;
    position: relative;
    top: 2px;
    width: 98%;
    z-index: 500;
}
#underline-2 {
    display: block;
    border-bottom: 1px solid var(--accent);
    transition: width 300ms;
    position: absolute;
    top: 51px;
    left: 2%;
    width: 0;
    z-index: 500;
}
#right:focus + span {
    width: 98%;
}

.box {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin: 2px 0;
    height: 52px;
}
form .subject {
    width: 100%;
}
#underline-3 {
    display: block;
    border-bottom: 1px solid var(--accent);
    transition: width 300ms;
    position: relative;
    top: -6px;
    width: 0;
}
#subject:focus + span {
    width: 100%;
}

.big-box {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
    margin-top: 2px;
    height: 126px;
}
form textarea {
    width: 100%;
    resize: none;
    background-color: var(--lightGray);
    box-shadow: none;
    border: none;
    margin: 5px 0;
    padding: 15px;
    color: #8d8d8d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 0;
    margin-top: 0;
}
#underline-4 {
    display: block;
    border-bottom: 1px solid var(--accent);
    transition: width 300ms;
    position: relative;
    top: -11px;
    width: 0;
}
#message:focus + span {
    width: 100%;
}

.form-button {
    margin-top: 10px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 1rem;
    color: var(--accent);
    border-radius: none;
}
.form-button:hover {
    color: var(--darkGray);
}

.form-button .button-inner {
    border-radius: 0px;
}

.form-button .button-base {
    border-radius: 0px;
}

@media only screen and (max-width: 1000px) {  
    /*  =================
    Navigation styles 
    ================= */
    nav {
        right: 0px;
        left: auto;
        top: 0px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 70px;
        width: 400px;
        transition: none;
        
        animation: nav-tablet-load .6s ease-in-out;
        animation-fill-mode: forwards;
        transform: translateY(-100%);
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin: 20px;
        padding: 0;
    }
    nav li {
        margin: 0;
        padding: 0;
    }
    .media-container {
        display: flex;
        justify-content: center;
        width: 25%;
    }
    #home-text {
        position: relative;
        top: -26px;
    }
    #projects-text {
        position: relative;
        top: -26px;
    }
    #about-text {
        position: relative;
        top: -26px;
    }
    #contact-text {
        position: relative;
        top: -26px;
    }
    /*  ============
        About styles
        ============ */
    h1 {
        font-size: 2.5rem;
    }
    .about-heading {
        position: relative;
        top: 55px;
    }
    .about-subheading {
        font-size: 1.2rem;
    }
    .bio, 
    .sources {
        font-size: .8rem;
        margin-top: 1rem;
        width: 42%;
    }
    .source-button {
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 1.2rem;
    }
    .language {
        transform: scale(.8)
    }

    .pop-up {
        width: 80vw;
        z-index: 110;
    }
    .pop-up-header {
        font-size: 1.25rem;
    }
    .pop-up-body p {
        font-size: .85rem;
    }
    .pop-up-body .bottom {
        font-size: 1.25rem;
    }
    /*  ============
        Project styles
        ============ */
    #projects h1 {
        top: 70px;
    }
    .project {
        background-size: 130%;
    }
    .project:hover {
        background-size: 140%;
    }
    .project-2 {
        background-size: 140%;
    }
    .project-2:hover {
        background-size: 150%;
    }
    .project-3 {
        background-size: 182%;
    }
    .project-3:hover {
        background-size: 192%;
    }
    .project-4 {
        background-size: 100%;
    }
    .project-4:hover {
        background-size: 110%;
    }
    .project-info {
        font-size: .75rem;
        width: 100%;
    }
    /*  ==============
        Contact styles 
        ============== */
    #contact h1 {
        left: 50%;
        transform: translateX(-50%);
        top: 13%;
        font-size: 3rem;
    }
    .fixed-container p {
        top: 25%;
        left: 50%; 
        transform: translateX(-50%);
        width: 60%;
    }
    /* Form styles */
    .contact-container form {
        left: 50%;
        transform: translateX(-50%);
        top: 44%;
        min-width: 300px;
    }
}

@media only screen and (max-width: 740px) {
    .about-info {
        flex-direction: column;
        align-items: center;
    }
    .bio, 
    .source {
        width: 90%;
        text-align: center;
    }
    .project {
        background-size: 180%;
    }
    .project:hover {
        background-size: 190%;
    }
    .project-2 {
        background-size: 190%;
    }
    .project-2:hover {
        background-size: 200%;
    }
    .project-3 {
        background-size: 220%;
    }
    .project-3:hover {
        background-size: 230%;
    }
    .project-4 {
        background-size: 100%;
    }
    .project-4:hover {
        background-size: 110%;
    }
    .project-title {
        font-size: 1.2rem;
    }
    .project-info {
        font-size: .7rem;
        width: 100%;
    }
    .project-links {
        font-size: .85rem
    }
}

@media only screen and (max-width: 600px) {
    .section-container {
        height: auto;
        min-height: 100vh;
        width: 90vw;
        justify-items: center;
    }
    /*  =================
        Navigation styles 
        ================= */
    .logo {
        display: none;
    }    
    .logo-small {
        padding: 0 20px;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0px 20px;
        z-index: 29;
        transition: all 1s ease-in-out;
        transform: scale(1.4);
    
        animation: logo-load 2s ease-in-out;
    }
    nav {
        width: 100vw;
        top: 70px;
        transform: translateX(100%);
        opacity: 0;

        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
        animation: none;
    }
    .nav-toggle {
        transform: translateX(0);
        opacity: 1;
    }
    .burger{
        display: block;
        z-index: 50;
    }
    .burger-toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .burger-toggle .line2{
        opacity: 0;
    }
    .burger-toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .pseudo-nav {
        position: fixed;
        width: 100vw;
        height: 70px;
        z-index: 28;
        background-color:var(--darkGray);
        transition: background-color .6s ease-in-out;
    }
    .nav-gray {
        background-color:var(--darkGray);
    }
    /*  =================
    Home styles 
    ================= */
    .home-container {
        line-height: 2.3rem;
    }
    #home h1 {
        font-size: 2.5rem;
    }
    #home h3 {
        font-size: 1.2rem;
    }
    /*  =================
    About styles 
    ================= */
    h1 {
        font-size: 2rem;
    }
    #about {
        margin-bottom: 2rem;
    }
    .about-subheading {
        font-size: .95rem;
    }
    .bio p, 
    .sources p {
        font-size: .85rem;
    }
    .bio {
        width: 90%;
    }
    .sources {
        width: 90%;
    }
    .source-button {
        width: 130px;
        height: 33px;
        line-height: 33px;
        font-size: 1rem;
    }
    .languages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 50%);
        height: 120px;
        position: relative;
    }
    .language {
        transform: scale(.65);
        padding: 0;
    }
    .pop-up {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
    }
    .pop-up-body {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        grid-template-columns: 1fr;
        grid-template-rows: .75fr 1fr 1fr .75fr .5fr;
        row-gap: .5rem;
    }
    .pop-up-header {
        font-size: .85rem;
        padding: 20px;
        padding-bottom: 0;
    }
    .pop-up-body p {
        font-size: .65rem;
        padding: 0 20px;
    }
    .pop-up-body .bottom {
        font-size: .85rem;
    }
    .one {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        padding: 0;
    }
    .two {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .three {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    .four {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    .bottom {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    .pop-up-links {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0 0 10px 0;
    }
    .pop-up-links button {
        height: 30px;
        width: 100px;
        padding: 2px;
        font-size: .8rem;
    }
    /*  =========
   Project styles 
   ============== */
    #project-section-container {
        min-height: 145vh;
    }
    .project-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 180px);
        width: 70%;
        margin-top: 2rem;
    }
    .project-overlay {
        padding: .5rem;
    }
    .project-title {
        font-size: 1rem;
    }
    .project-info {
        font-size: .6rem;
    }
    .project-links {
        font-size: .75rem;
    }
    .project {
        background-size: 125%;
    }
    .project:hover {
        background-size: 135%;
    }
    .project-2 {
        background-size: 130%;
    }
    .project-2:hover {
        background-size: 140%;
    }
    .project-3 {
        background-size: 150%;
    }
    .project-3:hover {
        background-size: 160%;
    }
    .project-4 {
        background-size: 100%;
    }
    .project-4:hover {
        background-size: 110%;
    }
    #contact h1 {
        font-size: 2.5rem;
        width: fit-content;
    }
    .fixed-container p {
        font-size: .75rem;
        width: 80%;
    }
    .contact-container form {
        width: 70vw;
        min-width: 250px;
    }
    .resume-button {
        bottom: 15px;
        right: 15px;
    }
    .copy {
        display: none;
    }
    #mobile-copy {
        display: block;
        bottom: -30px;
    }
}

@media only screen and (max-width: 450px) {
    .project-container {
        width: 90%;
    }
    .project {
        background-size: 135%;
    }
    .project:hover {
        background-size: 145%;
    }
    .project-2 {
        background-size: 150%;
    }
    .project-2:hover {
        background-size: 160%;
    }
    .project-3 {
        background-size: 170%;
    }
    .project-3:hover {
        background-size: 180%;
    }
    .project-4 {
        background-size: 100%;
    }
    .project-4:hover {
        background-size: 110%;
    }
}