/*  ==============
    General styles
    ============== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --accent: rgb(34, 185, 153);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to bottom right, rgb(49, 49, 49), rgb(20, 20, 20));
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

h1 {
    font-size: 52px;
    color: var(--accent);
    position: relative;
    top: 30px;
}

/*  =================
    OnLoad animations
    ================= */

@keyframes logo-load {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes nav-load {
    0% {
        transform: translateX(-110%);
    }

    100% {
        transform: translateX(0%);
    }
}    
@keyframes nav-tablet-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes btn-load {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes icon-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes flash {
    50% {
        opacity: 0;
    }
}

/*  =================
    Navigation styles
    ================= */

.logo {
    padding: 0 20px;
    background: transparent;
    position: fixed;
    top: -25px;
    z-index: 30;
    transition: opacity .6s ease-in-out;

    animation: logo-load 1s ease-in-out;
}    
.logo-change {
    opacity: 0;
}
.logo-small {
    padding: 0 20px;
    background: transparent;
    position: fixed;
    top: 27px;
    left: 51.5px;
    z-index: 29;
    transition: all 1s ease-in-out;
    /* transform: translate(-30px) scale(2); */

    animation: logo-load 2s ease-in-out;
}
.logo-small-change {
    transform: translate(-30px) scale(2);
} 
.logo-small-change-back {
    transform: translate(0) scale(1);
} 

nav {
    position: fixed;
    left: 0px;
    top: 120px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: all .5s;
    background-color: rgb(22, 22, 22);
    text-align: center;
    justify-content: space-between;

    animation: nav-load .6s ease-in-out .3s;
    animation-fill-mode: forwards;
    transform: translateX(-100%)
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav li {
    margin: 10px 0;
    padding: 0 10px;
}

.media-container li {
    margin: 5px 0;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 13;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
}
  
.burger div{
width: 25px;
height: 3px;
background-color: rgb(247, 247, 247);
border: 2px, solid, rgb(247, 247, 247);
border-radius: 10px;
z-index: 4;
margin: 5px;
transition: all 0.5s ease;
}
  

/*  ===========
    Icon styles
    =========== */

.icon {
    margin-top: 20px;
    padding-top: 0px;
    transition: opacity 1s;
    transition: all .5s;
    animation: icon-load .5s ease-in-out;
    animation-fill-mode: forwards;
    transform: scale(0);
}

#home-text {
    position: absolute;
    top: 33px;
}
#home-icon {
    animation-delay: 1s;
}

#projects-text {
    position: absolute;
    top: 100px;
}
#projects-icon {
    animation-delay: 1.2s;
}

#about-text {
    position: absolute;
    bottom: 207px;
}
#about-icon {
    animation-delay: 1.4s;
}

#contact-text {
    position: relative;
    bottom: 26px;
}
#contact-icon {
    animation-delay: 1.6s;
}

#github-icon {
    animation: icon-load .5s ease-in-out 1.8s;
    animation-fill-mode: forwards;
    transform: scale(0);
}
#linkedin-icon {
    animation: icon-load .5s ease-in-out 2s;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.resume-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: rgb(27, 27, 27);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px 1px black;
    z-index: 100;

    animation: btn-load .6s ease-in-out .3s;
    animation-fill-mode: forwards;
    transform: translateX(150%);
}
#resume-icon {
    transition: opacity .6s;
}
#resume-text {
    left: 6px;
}
.icon-text {
    position: absolute;
    left: 0; right: 0;
    margin: 0 auto;
    color: var(--accent);
    font-style: normal;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;

    transition: opacity .6s;
}

/*  ================
    Home page styles
    ================ */

section#home {
    height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 18%;
    top: 40%;
    line-height: 3.5rem;
    z-index: 0;
}

#home h1 {
    font-size: 60px;
    position: relative;
    top: 0;
    color: white;
}

#home h3 {
    font-size: 28px;
    font-weight: 400;
}

#jacob {
    color: var(--accent) !important;
    margin-left: 20px;
}

.name-container {
    display: flex;
    
}

.display {
    display: none;
}

/*  ===============
    Projects styles
    =============== */

#projects {
    z-index: 30;
    display: flex;
    height: 110vh;
}

.section-container {
    background-color: rgb(58, 58, 58);
    width: 80vw;
    height: 100vh;
    box-shadow: 1px 1px 10px 3px black;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 3rem;
    justify-content: center;
}

#projects h1 {
    z-index: 2;
    color: var(--accent);
    text-shadow: 1px 1px rgb(22, 22, 22);
    width: 100%;
}

.project-container {
    width: 100%;
    height: 100%; 
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.project {
    border: 1px solid var(--accent);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-size .5s;
}
.project-1 {
    background-image: url(../utilities/cba.png);
}
.project:hover {
    background-size: 110%;
}
.project-2 {
    background-image: url(../utilities/checkers.png);
}
.project-3 {
    background-image: url(../utilities/artsmith.png);
}
.project-4 {
    background-image: url(../utilities/logo1000.png);
}

.project-overlay {
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color .3s ease-in-out;
}

.project-overlay:hover .view, .project-overlay:hover .description {
    opacity: 1;
}

.description {
    width: fit-content;
    padding: .25rem 1rem;
    border: 2px solid rgb(22, 22, 22);
    border-radius: .4rem;
    left: 0; right: 0; margin: auto;
    font-size: 1.5rem;
    position: relative;
    color: rgb(22, 22, 22); 
    background-color: rgba(34, 185, 153, .8);
    top: 3rem;
    opacity: 0;

    transition: opacity .3s ease-in-out;
}

.view {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 80px;
    opacity: 0;

    transition: opacity .3s ease-in-out;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.button-link {
    height: 50px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 2px solid var(--accent);
    background-color: rgba(22, 22, 22, .7);
    z-index: 1000;
    position: relative;
    overflow: hidden;
    outline: none;

    transition: color .3s;
}
.button-link:hover,
.button-link:focus {
    cursor: pointer;
    outline: none;
    color: black;
}
.button-link:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 180%;
    height: 150%;
    background-color: var(--accent);
    z-index: -1;

    transition: transform .5s ease-in-out;
    transform: translate(-120%, 0) skew(-30deg);
}
.button-link:hover::before, 
.button-link:focus::before {
    transform: translate(-5%, 0)
    skew(-15deg);
}


/*  ============
    About styles
    ============ */

section#about {
    height: 100vh;
    color: rgb(226, 226, 226);
}

.about-grid {
    display: grid;
    height: 100vh;
    width: 80vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    z-index: 5;
    justify-items: center;
    gap: 1rem;
}

.about-heading {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    justify-content: center;
    width: 70%;
}

.about-heading h1 {
    color:var(--accent);
    z-index: 4;
    text-shadow: 1px 1px rgb(22, 22, 22);
}

.about-heading p {
    width: 100%;
    margin: -20px 0;
    text-shadow: 1px 1px rgb(22, 22, 22);
}

.about-container {
    width: 80%;
    z-index: 1000;
    position: relative;
    top: 100px;
}

.bio {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 18px;
    font-weight: lighter;
    padding: 40px;
    line-height: 1.5;
    padding-bottom: 0;
    /* letter-spacing: 0.7px;
    text-shadow: 1px 1px rgb(22, 22, 22); */
}

.sources {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 40px;
}


.large-text {
    font-size: 30px;
    width: 60%;
    z-index: 3;
    position: relative;
    top: 80px;
    font-weight: 300;
}

.small-text {
    font-size: 15px;
    font-weight: lighter;
    text-align: start;
    margin-bottom: 30px;
}

.source-button {
    height: 60px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(31, 31, 31);
    border: 2px solid rgb(31, 31, 31);
    background: transparent;
    margin-top: 30px;
    z-index: 4;
    position: relative;
    overflow: hidden;
    outline: none;
    box-shadow: 0px;
}
.source-button p{
    position: relative;
    font-size: 22px;
    font-weight: 600;
}
.source-button:hover, 
.source-button:focus {
    cursor: pointer;
    outline: none;
}
.source-button::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 150%;
    height: 100px;
    background-color: var(--accent);
    z-index: -1;

    transition: transform .5s ease-in-out;
    transform: translate(-110%, 0) skew(-30deg);
}
.source-button:hover::before,
.source-button:focus::before {
    transform: translate(-5%, 0)
    skew(-15deg);
}

.overlay-active {
    position: fixed; 
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px; 
    opacity: 0.6;
    background-color: rgb(28, 28, 28);
    z-index: 10;
    transition: background-color .5s ease-in;
}
.content-inactive {
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}

.pop-up {
    background-color: rgb(22, 22, 22);
    border: 2px solid var(--accent);
    border-radius: 4px;
    width: 50vw;
    height: 95vh;
    position: fixed;
    left: 0; right: 0; bottom: 0; top: 0;
    margin: auto;
    z-index: 11;
    box-shadow: 1px 1px 10px 3px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    /* align-items: center; */

    visibility: hidden;
    opacity: 0;
    transform: translate(254px, 107px) scale(.1);

    transition: opacity .75s, transform .75s;
}
.pop-up-active {
    opacity: 1;
    transform: translate(0px, 0px) scale(1);
}
.pop-up-header {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    justify-items: center;
    align-items: center;
    display: grid;
    justify-items: center;
    font-size: 2vw;
    padding: 30px;
    text-align: center;
}
.pop-up-body {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45% 45% 10%;
    justify-items: center;
    text-align: center;
}
.pop-up-body p {
    padding: 0 30px;
    font-size: .9rem;
}
.pop-up-body .bottom {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    font-size: 2vw;
}
.pop-up-links {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    display: flex;
    justify-content: space-evenly;
}
.pop-up-links button {
    height: 50px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    color: var(--accent);
    border: 2px solid var(--accent);
    background: transparent;
    margin-top: 20px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    outline: none;

    transition: color .5s;
}
.pop-up-links button:hover,
.pop-up-links button:focus {
    cursor: pointer;
    outline: none;
    color: rgb(31, 31, 31);
}
.pop-up-links button:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 180%;
    height: 150%;
    background-color: var(--accent);
    z-index: -1;

    transition: transform .5s ease-in-out;
    transform: translate(-120%, 0) skew(-30deg);
}
.pop-up-links button:hover::before, 
.pop-up-links button:focus::before {
    transform: translate(-5%, 0)
    skew(-15deg);
}

#cancel {
    position: absolute;
    right: 10px; top: 10px;
}
#cancel:hover {
    cursor: pointer;
}



/*  ==============
    Contact styles
    ============== */

.contact-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
section#contact{
    height: 100vh;
    display: flex;
}

#contact h1 {
    display: flex;
    position: fixed;
    left: 18%;
    top: 40%;
    line-height: 3.5rem;
    z-index: 0;
    font-size: 52px;
    color: var(--accent);
}

.fixed-container p {
    position: fixed;
    left: 19%;
    top: 55%;
    width: 30%;
    font-weight: lighter;
    text-align: left;
}

.copy {
    color: #878787;
    position: fixed;
    bottom: 10px;
    font-size: 14px;
    left: 0; 
    right: 0;
    margin: auto;
}

/* Form styles */

.contact-container form {
    position: fixed;
    right: 15%;
    top: 40%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 30%;
}
.form:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}

.form {
    height: 50px;
    background-color:rgb(49, 49, 49);
    box-shadow: none;
    border: none;
    margin: 5px 0;
    padding: 15px;
    color: #8d8d8d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 0;
    margin-top: 0;
}

form .small {
    width: 100%;
    display: block;
}

.small-box {
    margin: 2px 0;
    height: 53px;
    position: relative;
    top: -1px;
}

.box-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
}
#left {
    float: left;
    position: relative;
    width: 98%;
    top: 2px;
}
#underline-1 {
    display: block;
    border-bottom: 2px solid var(--accent);
    transition: width 300ms;
    position: relative;
    top: 50px;
    width: 0;
}
#left:focus + span {
    width: 98%;
}

.box-2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    position: relative;
}
#right {
    float: right;
    position: relative;
    top: 2px;
    width: 98%;
    z-index: 500;
}
#underline-2 {
    display: block;
    border-bottom: 2px solid var(--accent);
    transition: width 300ms;
    position: absolute;
    top: 50px;
    left: 2%;
    width: 0;
    z-index: 500;
}
#right:focus + span {
    width: 98%;
}

.box {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin: 2px 0;
    height: 52px;
}
form .subject {
    width: 100%;
}
#underline-3 {
    display: block;
    border-bottom: 2px solid var(--accent);
    transition: width 300ms;
    position: relative;
    top: -7px;
    width: 0;
}
#subject:focus + span {
    width: 100%;
}

.big-box {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
    margin-top: 2px;
    height: 126px;
}
form textarea {
    width: 100%;
    resize: none;
    background-color:rgb(49, 49, 49);
    box-shadow: none;
    border: none;
    margin: 5px 0;
    padding: 15px;
    color: #8d8d8d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 0;
    margin-top: 0;
}
#underline-4 {
    display: block;
    border-bottom: 2px solid var(--accent);
    transition: width 300ms;
    position: relative;
    top: -12px;
    width: 0;
}
#message:focus + span {
    width: 100%;
}

.send {
    height: 30px;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    color: var(--accent);
    border: 1px solid var(--accent);
    background: transparent;
    margin-top: 20px;
    z-index: 1;

    transition: color 200ms ease-in-out;
}
.send:hover, .send:focus {
    cursor: pointer;
    color:rgb(27, 27, 27);
}
.send::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 60px;
    background-color: var(--accent);
    border-radius: 5px;
    z-index: -1;

    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}
.send:hover::before,
.send:focus::before {
    transform: scaleX(1);
}


@media only screen and (max-width: 1000px) {  
    /*  =================
    Navigation styles 
    ================= */
    nav {
        right: 0px;
        left: auto;
        top: 0px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 70px;
        width: 400px;
        transition: none;
    
        animation: nav-tablet-load .6s ease-in-out .3s;
        animation-fill-mode: forwards;
        transform: translateY(-100%);
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin: 20px;
        padding: 0;
    }
    nav li {
        margin: 0;
        padding: 0;
    }
    .media-container {
        display: flex;
        justify-content: center;
        width: 25%;
    }
    #home-text {
        position: relative;
        top: -26px;
    }
    #projects-text {
        position: relative;
        top: -26px;
    }
    #about-text {
        position: relative;
        bottom: 26px;
    }
    #contact-text {
        position: relative;
        bottom: 26px;
    }
    #projects h1 {
        top: 70px;
    }
    .project {
        background-size: 130%;
    }
    .project:hover {
        background-size: 140%;
    }
/*  ============
    About styles
    ============ */
    h1 {
        font-size: 2.5rem;
    }
    .large-text {
        font-size: 1.25rem;
    }
    .medium-text {
        font-size: 1rem;
    }
    .small-text {
        font-size: 1rem;
    }
    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        column-gap: 0;
    }
    .about-heading {
        position: relative;
        top: 30px;
        width: 90%;
    }
    .about-subheading {
        top: 60px;
    }
    .bio {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        position: relative;
        top: 50px;
        max-width: 69ch;
    }
    .sources {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        padding: 40px;
    }
    .source-button {
        height: 60px;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        color: rgb(31, 31, 31);
        border: 2px solid rgb(31, 31, 31);
        background: transparent;
        margin-top: 30px;
        z-index: 4;
        position: relative;
        overflow: hidden;
        outline: none;
        box-shadow: 0px;
    }
    .source-button p{
        position: relative;
        font-size: 22px;
        font-weight: 600;
    } 
    .pop-up {
        width: 80vw;
        z-index: 110;
    }
    .pop-up-header {
        font-size: 1.25rem;
    }
    .pop-up-body p {
        font-size: .85rem;
    }
    .pop-up-body .bottom {
        font-size: 1.25rem;
    }
    
    /*  ==============
        Contact styles 
        ============== */
    #contact h1 {
        left: 50%;
        transform: translateX(-50%);
        top: 13%;
        font-size: 3rem;
    }
    .fixed-container p {
        top: 25%;
        left: 50%; 
        transform: translateX(-50%);
        width: 60%;
    }
    /* Form styles */
    .contact-container form {
        left: 50%;
        transform: translateX(-50%);
        top: 44%;
        min-width: 300px;
    }
}

@media only screen and (max-width: 725px) {
    .project {
        background-size: 160%;
    }
    .project:hover {
        background-size: 170%;
    }
}

@media only screen and (max-width: 600px) {
    /*  =================
        Navigation styles 
        ================= */
    .logo {
        display: none;
    }    
    .logo-small {
        padding: 0 20px;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0px 20px;
        z-index: 29;
        transition: all 1s ease-in-out;
        transform: scale(1.4);
    
        animation: logo-load 2s ease-in-out;
    }
    nav {
        width: 100vw;
        top: 70px;
        transform: translateX(100%);
        opacity: 0;

        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
        animation: none;
    }
    .nav-toggle {
        transform: translateX(0);
        opacity: 1;
    }
    .burger{
        display: block;
        z-index: 50;
    }
    .burger-toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .burger-toggle .line2{
        opacity: 0;
    }
    .burger-toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .pseudo-nav {
        position: fixed;
        width: 100vw;
        height: 70px;
        z-index: 28;
        transition: background-color .6s ease-in-out;
    }
    .nav-gray {
        background-color:rgb(22, 22, 22);
    }
    /*  =================
    Home styles 
    ================= */
    .home-container {
        line-height: 2.3rem;
    }
    #home h1 {
        font-size: 2.5rem;
    }
    #home h3 {
        font-size: 1.2rem;
    }
     /*  =================
    Project styles 
    ================= */
    .project {
        background-size: 180%;
    }
    .project:hover {
        background-size: 190%;
    }
    /*  =================
    About styles 
    ================= */
    .section-container {
        width: 90vw;
    }
    .about-grid {
        width: 100%;
    }
    h1 {
        font-size: 2rem;
    }
    .large-text {
        font-size: .95rem
    }
    .small-text {
        font-size: .75rem;
    }
    .bio {
        padding: 20px;
    }
    .pop-up {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
    }
    .pop-up-body {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        grid-template-columns: 1fr;
        grid-template-rows: .75fr 1fr 1fr .75fr .5fr;
        row-gap: .5rem;
    }
    .pop-up-header {
        font-size: .85rem;
        padding: 20px;
        padding-bottom: 0;
    }
    .pop-up-body p {
        font-size: .65rem;
        padding: 0 20px;
    }
    .pop-up-body .bottom {
        font-size: .85rem;
    }
    .one {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        padding: 0;
    }
    .two {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .three {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    .four {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    .bottom {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    .pop-up-links {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0 0 10px 0;
    }
    .pop-up-links button {
        height: 30px;
        width: 100px;
        padding: 2px;
        font-size: .8rem;
    }
    #contact h1 {
        font-size: 2.5rem;
        width: fit-content;
    }
    .fixed-container p {
        font-size: .75rem;
        width: 80%;
    }
    .contact-container form {
        width: 70vw;
        min-width: 250px;
    }
    .resume-button {
        bottom: 15px;
        right: 15px;
    }
}